
.MuiCardHeader-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: #000729;
  }
  
  .MuiDivider-root {
    color: #000729;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
  }

  .search-con{
    border: solid;
    padding: 2rem;
  }
  