.MuiCardHeader-title {
  text-transform: uppercase;
  font-weight: bold !important;
font-size: 1rem !important;
}
.MuiCardHeader-subheader {
  font-weight: 500 !important;
  color: #000729 !important;
}

.MuiDivider-root {
  color: #000729;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 600;
}

