@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: #d7c1ce;
}
a {
  text-decoration: none;
  color: unset;
}

.container {
  padding: 0;
  margin: 0;
  max-width: unset;
}

.btn {
  background-color: #d32f2f;
  color: #d7c1ce;
  font-weight: bold;
  transition: all 0.9s;
  border: transparent;
  display: block;
  margin: auto;
  margin-top: 2rem;
  width: 50%;
}
.btn:hover {
  color: #d32f2f;
  background-color: #d7c1ce;
}
.login-btn {
  margin: 1rem auto;
}
.MuiFormControl-root label {
  color: #000729;
}

.MuiInputBase-root:focus > label {
  color: #000729;
}

.MuiInputBase-root::after {
  border-bottom: solid 2px #000729;
}

.Mui-focused  {
  color: #000729 !important;
  /* font-size: 1.2rem; */
}


.MuiOutlinedInput-root .Mui-focused fieldset {
  border-color: #000729;
}