@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    background-color: #d7c1ce;
  }
  a {
    text-decoration: none;
    color: unset;
  }

  .container{
    padding: 0;
    margin: 0;
    max-width: unset;
  }
  MuiTextField-root{
    color: #000729;
  }
  MuiTextField-root:active{
    color: #000729;
    
  }
  MuiTextField:active{
    color: #000729;

  }