.logout-btn {
  background-color: #d32f2f;
  /* margin-left: 2rem; */
  color: #d7c1ce;
  font-weight: bold;
  transition: all 0.9s;
}
.logout-btn:hover {
  color: #d32f2f;
  background-color: #d7c1ce;
}

.icon {
  /* padding: 1rem; */
  color: #d7c1ce;
  margin-left: 0.5rem;
  transition: all 0.9s;
}
.icon:hover {
  background-color: #d7c1ce;
  color: #000729;
}

.list-items {
  /* border: solid; */
  justify-content: center;
  padding: 0;
  margin-bottom: 2rem;
}

.list-items button {
  transition: all 0.9s;
}

.notification {
  position: absolute;
  background-color: #fff;
  top: 60px;
  right: 0;
  z-index: -1;
  color: #000729;
  height: 0;
  transition: all 0.5s ease-in-out;
  min-width: 300px;
  overflow: hidden;
}

.notification::-webkit-scrollbar {
  display: none;
}
.show-notification {
  height: 320px;
  overflow: hidden;
}

@media screen and (min-width:800px) {
  .notification {
    right: 100px;
  }
}
