.main-con{
    padding: 0;
    margin: 0;
    max-width: unset;
    background-color:#D7C1CE ;
    height: 80vh;
}

.welcome-text{
    font-size:1.5rem ;
    color: white;
    text-shadow: 1px 1px #D7C1CE;
}



