.main-con {
  padding: 0;
  margin: 0;
  max-width: unset;
  background-color: #d7c1ce;
  height: 80vh;
  background-image: url("../../../public/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-text {
  color:#000729 ;
  text-shadow: 1px 1px #d7c1ce;
  text-transform: capitalize;
}

.grid-con {
  padding: 2rem;
  display: flex;
  align-items: center;
}

